<div id="header" fxLayout="row">
  <mat-accordion fxFlex.md="45" fxFlex.lg="60" fxFlex.lg="70">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidenav-icon">search</mat-icon> Search
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-card example-half-width">
        <hr class="example-full-width">
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field class="example-full-width">
            <input type="text" [(ngModel)]="searchInput" autocomplete="off" matInput placeholder="User's name">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-select [(value)]="selectedStatus" placeholder="Status" [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of statuses" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div id="button-box" fxLayout="row" fxLayoutAlign="space-around center">
            <button (click)="onSearch()" class="example-full-width" mat-raised-button color="primary">Search</button>
            <button (click)="onClear()" class="example-full-width" mat-raised-button color="warn">Clear</button>
          </div>
        </mat-card-content>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator fxHide.xs fxHide.sm fxFlex.md="55" fxFlex.lg="40" fxFlex.xl="30" id="header-paginator" [pageSize]="_paginationService.userPageSize"
    [length]="usersAmount" (page)="pageSwitch($event)">
  </mat-paginator>
</div>

<div class="table-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      InternetHospital's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef> Second Name </th>
        <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
      </ng-container>

      <ng-container matColumnDef="thirdName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.thirdName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birthdate </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="statusName">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" matTooltipPosition="before" matTooltip="{{element.statusDescription}}">
          {{element.statusName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>