<!-- <div id="header" fxLayout="row">
  <mat-accordion fxFlex.md="45" fxFlex.lg="60" fxFlex.lg="70">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidenav-icon">search</mat-icon> Search
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-card example-half-width">
        <hr class="example-full-width">
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field class="example-full-width">
            <input type="text" [(ngModel)]="searchInput" autocomplete="off" matInput placeholder="User's name">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-select [(value)]="selectedStatus" placeholder="Status" [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let item of statuses" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div id="button-box" fxLayout="row" fxLayoutAlign="space-around center">
            <button (click)="onSearch()" mat-raised-button color="primary">Search</button>
            <button (click)="onClear()" mat-raised-button color="warn">Clear</button>
          </div>
        </mat-card-content>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  
</div> -->

<!-- <div class="table-container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      InternetHospital's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div> -->

<!-- <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
  <div class="mat-elevation-z8"> -->

<div>
  <div class="filtering-block">
    <mat-form-field>
      <input matInput placeholder="Search" [(ngModel)]="search" (change)="paginator.pageIndex=0; paginator.page.emit()">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="warn" (change)="select($event, row.id)" [checked]="selected.includes(row.id)" [disabled]="row.status==='Deleted'">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let row">
        {{row.firstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="secondName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Name </th>
      <td mat-cell *matCellDef="let row">
        {{row.secondName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="thirdName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Third Name </th>
      <td mat-cell *matCellDef="let row">
        {{row.thirdName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Birthdate </th>
      <td mat-cell *matCellDef="let row">
        {{row.birthDate | date}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row">
        {{row.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="statusName">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let row" matTooltipPosition="before" matTooltip="{{row.statusDescription}}">
        {{row.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="amountOfUsers" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>