#FatherBox{
  height: 50px;
  background-color: #4d5256;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.material-icons{
 font-size: 25px;
}
.link-element{
  padding-top: 5px;
  padding-bottom: 5px;
}
a{
  color: #e1e8f0;
}