.slider-container {
  position: relative;
  overflow: hidden;

  .wrapper {
    padding-top: 56.25%;
  }

  img {
    position: absolute;
    max-width: 100%;
    top: 0;
    bottom: 0;
    transition: right ease 0.5s, left ease 0.5s, opacity ease 0.5s;
    opacity: 0;
    z-index: 100;
  }

  .left-image {
    left: -100%;
  }
  
  .right-image {
    left: 100%;
  }
  
  .active-image {
    left: 0;
    opacity: 1;
    z-index: 200;
  }

  .left-button,
    .right-button {
      position: absolute;
      top: 0;
      bottom: 0;
      font-size: 10em;
      opacity: 0;
      z-index: 1000;
    }

    .right-button {
      right: 0;
    }

    .left-button {
      left: 0;
    }

    .left-button:hover,
    .right-button:hover {
      opacity: 0.5;
    }
}
