<div class="profile" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="40px">
  <app-loading *ngIf="isProfileLoading && isIllnessHistoryLoading"></app-loading>
  <mat-card class="profile-top mat-elevation-z8">
      <div class="top-info" fxLayout="row" fxFlex>
        <div class="patient-photo" fxLayoutAlign="center center" fxFlex>
            <img [src]="avatarToShow" alt="Avatar" (error)="img.src = defaultImage"/>
        </div>
        <div class="patient-general-info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20%" fxFlex>
          <div class="patient-name" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="6%">
            <div>{{patient?.firstName}}</div>
            <div>{{patient?.secondName}}</div>
            <div>{{patient?.thirdName}}</div>
          </div>
          <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5%">
            <div>Born on: {{patient?.birthDate | date: 'mediumDate'}}</div>
            <div>Phone number: {{patient?.phoneNumber}}</div>
          </div>
        </div>
      </div>
  </mat-card>
  <mat-card class="profile-bottom mat-elevation-z8" fxLayout="column" fxFlex="50%" fxLayoutGap="0.5%">
    <h3 style="text-align:center">Illness History</h3>
    <div class="without_paginator" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1%">
      <div class="patient-history-search-filter" fxFlex="30%">
        <app-illness-history-search-item (search)="onSearch($event)"></app-illness-history-search-item>
      </div>
      <div class="patient-history" fxFlex>
        <mat-list>
          <div class="history-items" *ngFor="let IllnessHistory of illnessHistories" fxLayoutGap="0.5%"
            fxLayout="row">
            <mat-expansion-panel fxFlex>
              <mat-expansion-panel-header>
                <div fxLayout="row">
                  <mat-list-item>
                    <div>{{IllnessHistory.finishAppointmentTime | date:"dd/MM/yyyy 'at' h:mma"}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <div>{{IllnessHistory.diagnose}}</div>
                  </mat-list-item>
                </div>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutGap="5px">
                <div *ngIf="illnessHistory?.complaints">
                  Complaints: {{IllnessHistory.complaints}}
                </div>                
                <div *ngIf="illnessHistory?.diseaseAnamnesis">
                  Disease Anamnesis: {{IllnessHistory.diseaseAnamnesis}}
                </div>
                <div *ngIf="illnessHistory?.lifeAnamnesis">
                  Life Anamnesis: {{IllnessHistory.lifeAnamnesis}}
                </div>
                <div *ngIf="illnessHistory?.objectiveStatus">
                  Objective status: {{IllnessHistory.objectiveStatus}}
                </div>
                <div *ngIf="illnessHistory?.localStatus">
                  Local status: {{IllnessHistory.localStatus}}
                </div>
                <div *ngIf="illnessHistory?.surveyPlan">
                  Survey plan: {{IllnessHistory.surveyPlan}}
                </div>
                <div *ngIf="illnessHistory?.treatmentPlan">
                  Treatment plan: {{IllnessHistory.treatmentPlan}}
                </div>
            </div>
            </mat-expansion-panel>
          </div>
        </mat-list>
      </div>
    </div>
    <mat-paginator [length]="illnessHistoriesCount" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>