#container {
  height: 100vmin;
}

#left {
  background-color: #6ed3cf;
}

#right {
  background-color: #9068be;
  background-image: url(./Images/pinkpaper2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LeftInner {
  background-color: #e62739;
  min-width: 100px;
  min-height: 100px;
}

#Zero {
  color: #e62739;
}

.text-size-1 {
  margin-bottom: 60px;
  font-size: 200px;
}

.text-size-2 {
  margin: 5px;
  font-size: 40px;
}

.text-size-3 {
  margin: 15px;
  font-size: 20px;
}

.text-size-4 {
  margin: -50px;
  float: right;
  font-size: 150px;
}
p,
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: #e1e8f0;
}
