<div id="container">
  <div fxFlex id="left" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center end">
      <p class="text-size-1" fxHide.xs>4<span id="Zero">0</span>4</p>
      <p class="text-size-2" >oops...</p>
      <p class="text-size-3" >this page is not found</p>
      <p class="text-size-4" id="GoHome"><a id="GoHome" mat-button color="warn" [routerLink]="['']">return to home page?</a></p>
    </div>
  </div>
  <div fxHide.sm fxHide.xs fxShow.md fxFlex="50" fxLayout="column" id=right>
  </div>
</div>