.profile {
    min-height: 100%;
    overflow: unset;
    width: 70%;
    margin-left: 3%;
    font-size: 16;
    .settings-expanded-item {
        margin-top: 5%;
    }
    .profile-menu {
        margin-top: 5%;
    }
    .profile-top {
            .patient-photo {
                img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                }
                img:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        
        .patient-name {
            font-size: 30px;
            line-height: normal;
        }
    }
}