<div class="profile" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="40px">
  <mat-card class="profile-top mat-elevation-z8">
    <mat-drawer-container class="example-container" hasBackdrop="true" fxFlex>
      <div class="top-info" fxLayout="row" fxFlex>
        <div class="patient-photo" fxLayoutAlign="center center" fxFlex>
          <form enctype="multipart/form-data">
            <input style="display: none" type="file" (change)="getAvatar($event.target.files)" name="Image" #Image>
            <img [src]="imageToShow" alt="Avatar" (click)="Image.click()" title="Change your profile photo" (error)="img.src = defaultImage"
              #img/>
          </form>
        </div>
        <div class="patient-general-info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20%" fxFlex>
          <div class="patient-name" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="6%">
            <div>{{patient?.firstName}}</div>
            <div>{{patient?.secondName}}</div>
            <div>{{patient?.thirdName}}</div>              
          </div>
          <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5%">
            <div>Born on: {{patient?.birthDate | date: 'mediumDate'}}</div>
            <div>Phone number: {{patient?.phoneNumber}}</div>
          </div>
        </div>
        <div class="example-sidenav-content" fxLayoutAlign="center start">
          <button type="button" mat-button (click)="drawer.toggle()">
            Edit profile
          </button>
        </div>
      </div>
      <mat-drawer #drawer mode="over" class="example-sidenav" autozise>
        <app-update-patient></app-update-patient>
      </mat-drawer>
    </mat-drawer-container>
  </mat-card>

  <mat-card class="pation-additional-info mat-elevation-z8">
    <app-patient-appointments></app-patient-appointments>
  </mat-card>

  <mat-card class="profile-bottom mat-elevation-z8" fxLayout="column" fxFlex="50%" fxLayoutGap="0.5%">
    <div class="without_paginator" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1%">
      <div class="patient-history-search-filter" fxLayoutAlign="center center" fxFlex="30%">
        <app-illness-history-search-item (search)="onSearch($event)"></app-illness-history-search-item>
      </div>
      <div class="patient-history" fxFlex>
        <mat-list>
          <div class="history-items" *ngFor="let IllnessHistory of patientService.illnessHistories" fxLayoutGap="0.5%" fxLayout="row">
            <mat-expansion-panel fxFlex>
              <mat-expansion-panel-header>
                <div fxLayout="row">
                  <mat-list-item>
                    <div>{{IllnessHistory.finishAppointmentTime}}</div>
                  </mat-list-item>
                  <mat-list-item>
                    <div>{{IllnessHistory.diagnose}}</div>
                  </mat-list-item>
                </div>
              </mat-expansion-panel-header>
              <div>
                Complaints: {{IllnessHistory.complaints}}
              </div>
              <div>
                Treatment: {{IllnessHistory.treatmentPlan}}
              </div>
              <div>
                Disease Anamnesis: {{IllnessHistory.diseaseAnamnesis}}
              </div>
              <div>
                Life Anamnesis: {{IllnessHistory.lifeAnamnesis}}
              </div>
            </mat-expansion-panel>
          </div>
        </mat-list>
      </div>
    </div>
    <mat-paginator fxLayoutAlign="end start" [length]="patientService.illnessHistoriesAmount" [pageSize]="pagService.pageSize"
    (page)="pageSwitch($event)" [hidePageSize]="true"></mat-paginator>
  </mat-card>
</div>