<div class="profile" fxLayout="row" fxLayoutGap="10%">
  <div class="profile-menu" fxLayout="column" fxLayoutGap="8%" fxLayoutAlign="start">
    <button (click)="changeSettings(patientSettings.MyProfile)" [disabled]="currentMenuItem===patientSettings.MyProfile"
      mat-raised-button>
      My profile
    </button>
    <button (click)="changeSettings(patientSettings.EditProfile)" [disabled]="currentMenuItem===patientSettings.EditProfile"
      mat-raised-button>
      Edit profile
    </button>
    <button (click)="changeSettings(patientSettings.IllnessHistories)" [disabled]="currentMenuItem===patientSettings.IllnessHistories"
      mat-raised-button>
      My illness histories
    </button>
    <button (click)="changeSettings(patientSettings.Appointments)" [disabled]="currentMenuItem===patientSettings.Appointments"
      mat-raised-button>
      My appointments
    </button>
    <button *ngIf="(isPatient | async)" (click)="changeSettings(patientSettings.BecomeADoctor)" [disabled]="currentMenuItem===patientSettings.BecomeADoctor"
    mat-raised-button>
    Become a doctor
  </button>
  </div>
  <div class="settings-expanded-item" fxLayout="row" fxFlex [ngSwitch]="currentMenuItem">
    <div *ngSwitchCase="patientSettings.MyProfile" class="profile-top" fxLayout="row" fxLayoutAlign="center center"
      fxFlex>
      <div class="patient-photo" fxLayoutAlign="center center" fxFlex>
        <form enctype="multipart/form-data">
          <input style="display: none" type="file" (change)="getAvatar($event.target.files)" name="Image" #Image>
          <img [src]="imageToShow" alt="Avatar" (click)="Image.click()" title="Change your profile photo" (error)="img.src = defaultImage"
            #img />
        </form>
      </div>
      <div class="patient-general-info" fxLayout="column"  fxLayoutGap="20%" fxFlex>
        <div class="patient-name">
          <div>
            {{patient?.firstName}} {{patient?.secondName}} {{patient?.thirdName}}
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5%">
          <div>Born on: {{patient?.birthDate}}</div>
          <div>Phone number: {{patient?.phoneNumber}}</div>
        </div>
      </div>
    </div>
    <app-update-patient *ngSwitchCase="patientSettings.EditProfile" fxFlex></app-update-patient>
    <div *ngSwitchCase="patientSettings.IllnessHistories" class="profile-bottom" fxLayout="column" fxLayoutGap="0.5%"
      fxFlex>
      <div class="illness-header">
        <h3 style="text-align:center">Illness History</h3>
      </div>
      <div class="without_paginator_shit" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="1%">
        <div class="patient-history-search-filter" fxFlex="35%">
          <app-illness-history-search-item (search)="onSearch($event)"></app-illness-history-search-item>
        </div>
        <div class="patient-history" fxLayoutGap="5px" fxLayout="column" >
          <div class="history-items" *ngFor="let IllnessHistory of patientService.illnessHistories">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="histories-top" fxLayout="row" fxFlex>
                  <div fxFlex>
                    <div>{{IllnessHistory.finishAppointmentTime | date:"MM/dd/yyyy 'at' h:mma"}}</div>
                  </div>
                  <div fxFlex>
                    Doctor: {{IllnessHistory.doctorName}}
                  </div>
                </div>
              </mat-expansion-panel-header>
              <div fxLayout="column" fxLayoutGap="5px">
                <div *ngIf="IllnessHistory?.diagnose">
                  Diagnose: {{IllnessHistory.diagnose}}
                </div>
                <div *ngIf="IllnessHistory?.complaints">
                  Complaints: {{IllnessHistory.complaints}}
                </div>
                <div *ngIf="IllnessHistory?.diseaseAnamnesis">
                  Disease Anamnesis: {{IllnessHistory.diseaseAnamnesis}}
                </div>
                <div *ngIf="IllnessHistory?.lifeAnamnesis">
                  Life Anamnesis: {{IllnessHistory.lifeAnamnesis}}
                </div>
                <div *ngIf="IllnessHistory?.objectiveStatus">
                  Objective status: {{IllnessHistory.objectiveStatus}}
                </div>
                <div *ngIf="IllnessHistory?.localStatus">
                  Local status: {{IllnessHistory.localStatus}}
                </div>
                <div *ngIf="IllnessHistory?.surveyPlan">
                  Survey plan: {{IllnessHistory.surveyPlan}}
                </div>
                <div *ngIf="IllnessHistory?.treatmentPlan">
                  Treatment plan: {{IllnessHistory.treatmentPlan}}
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
        <mat-paginator [length]="patientService.illnessHistoriesAmount" [pageSize]="pagService.pageSize" (page)="pageSwitch($event)"
          [hidePageSize]="true"></mat-paginator>
    </div>
    <div *ngSwitchCase="patientSettings.Appointments" class="patient-additional-info">
      <app-patient-appointments></app-patient-appointments>
    </div>
    <div *ngSwitchCase="patientSettings.BecomeADoctor" class="patient-additional-info">
      <app-update-to-doctor></app-update-to-doctor>
    </div>
  </div>
</div>