<!--<div class="container" fxLayout="row" fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="center">-->
<mat-card fxLayout="row" fxLayoutAlign="space-around start">
    <mat-card-content class="mat-display-1">
        <span>You have applayed to the doctor: </span>{{patAppointment.doctorFirstName}}
        {{patAppointment.doctorSecondName}}
    </mat-card-content>
    <mat-card-content class="mat-display-1">
        {{patAppointment.doctorSpecialication}}
    </mat-card-content>
    <mat-card-content class="mat-display-1">
        <span>Address: </span>{{patAppointment.address}}
    </mat-card-content>
    <mat-card-content class="mat-display-1">
        {{patAppointment.startTime | date:'dd.MM.y HH.mm'}} - {{patAppointment.endTime | date:'HH.mm'}}
    </mat-card-content>
    <div class="marginTen">
        <!--<button id="btnDisSubscribe" (click)="onDisSubscribeToAppointment()" mat-raised-button color="primary">Dissubscribe</button>-->
    </div>
</mat-card>
<!--</div>-->