<div id="father-div" fxLayout="column" fxLayoutAlign="space-around center">

  <div id="component-box">

    <div id="navigate-div">
      <mat-form-field class="example-full-width margin-ten">
        <input autocomplete="off" matInput [(ngModel)]="search" (change)="paginator.pageIndex=0; paginator.page.emit()"
          placeholder="Text Search">
      </mat-form-field>
      <br fxHide.gt-md>
      <mat-form-field class="example-full-width margin-ten">
        <mat-select [(value)]="selectedType" placeholder="Type" [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of typeslist" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br fxHide.gt-md>
      <button class="margin-ten" (click)="onSearch()" mat-raised-button color="primary">Search</button>
      <button (click)="onClear()" mat-raised-button color="warn">Clear</button>
    </div>

  </div>

  <mat-progress-bar *ngIf="isLoadingResult" mode="buffer"></mat-progress-bar>

  <table matSort mat-table [dataSource]="feedbacksmodels" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="usersEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email">users email</th>
      <td mat-cell *matCellDef="let row">
        {{row.usersEmail}}
      </td>
    </ng-container>
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="date">date</th>
      <td mat-cell *matCellDef="let row">
        {{row.dateTime | date}}
      </td>
    </ng-container>
    <ng-container matColumnDef="feedbackTypeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="type">type</th>
      <td mat-cell *matCellDef="let row">
        {{row.feedbackTypeName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div id="expanded-box" fxLayout="row" fxLayoutAlign="space-around start" class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="minwidth" fxFlex="10" fxLayout="column" fxLayoutAlign="space-around center">
            <img id="doc-pic" [src]="hostUrl + element.usersAvatarURL" />
          </div>
          <div class="minwidth" fxFlex="15" fxLayout="column" fxLayoutAlign="space-around center">
            <div class="example-element-detail"> {{element.usersFirstName}}
              {{element.usersSecondName}}
              {{element.usersThirdName}} </div>
            <div class="example-element-description"> {{element.usersBirthDate | date}} </div>
            <div>
              <a *ngIf="!element.isViewed" matTooltipPosition="above" matTooltip="mark as done" mat-button (click)="asDone(element.id)"> <i class="material-icons">done</i></a>
              <a *ngIf="!element.isViewed" matTooltipPosition="above" matTooltip="reply" mat-button (click)="openDialog(element.id)">
                <i class="material-icons">send</i></a>
              <a *ngIf="element.isViewed" mat-button>Done <i class="material-icons">done_all</i></a>
            </div>
          </div>
          <div fxFlex="50" class="example-element-description">
            <h4 id="header-text">Text</h4>
            <p id="maintextbox">{{element.text}}</p>
          </div>
          <div *ngIf="element.reply" fxFlex="25" class="example-element-description">
              <h4 id="header-text">Reply</h4>
            <p id="maintextbox">{{element.reply}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>

<div>
  <mat-paginator showFirstLastButtons [pageSize]="_paginationService.feedbackPageSize" [pageSizeOptions]="[5, 10, 15, 25, 50]" [length]="usersAmount"
    (page)="pageSwitch($event)">
  </mat-paginator>
</div>