.feedback-card{
    width: 80%;
    min-width: 300px;
    margin: 10px;
    flex-wrap:  wrap;
    align-content: flex-start;
}
.username{
    line-height: 10px;
    font-size: 30px;
}
.else-info{
    font-size: 15px;
}
.margin-ten{
    margin-left: 10px;
    margin-right: 10px;
}
#navigate-div{
    margin-top: 10px;
}
#father-div{
    
}
#username-box{

}
#component-box{
    width: 100%;
}