mat-card {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  padding: 0;
}

mat-card-content {
    margin-bottom: 0;
    font-size: 18px;
}

.marginTen {
    margin: 10px;
  }

#btnSubscribe {
  margin:auto;
  display:block;
  right: 10px;
  top: 15px;
  position: absolute;
}