<div class="container" fxLayout="row" fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="center">
    <mat-card fxLayout="row" fxLayoutAlign="space-around start">
        <div class="marginTen">
            <mat-card-content class="mat-display-1">{{appointment.startTime}}</mat-card-content>
        </div>
        <div class="marginTen">
            <mat-card-content class="mat-display-1">{{appointment.endTime}}</mat-card-content>
        </div>
      <button (click)="onSubscribeToAppointment()"  mat-raised-button color="primary">Subscribe</button>
    </mat-card>
</div>