<mat-card fxLayout="row" fxLayoutAlign="end center">
        <mat-card-content fxFlex="25%" class="mat-display-1">
            {{appointment.startTime | date:'dd.MM.y'}}
        </mat-card-content>

        <mat-card-content fxFlex="25%" class="mat-display-1">
            {{appointment.startTime | date:'HH.mm'}} - {{appointment.endTime | date:'HH.mm'}}
        </mat-card-content>


        <mat-checkbox fxFlex="25%" *ngIf="(isPatient | async)" color="primary" [(ngModel)]="isAllow">
            <i class="far fa-question-circle" matTooltip="Allow doctor to see your illness history">Allow info?</i>
        </mat-checkbox>

        <button fxFlex="25%" id="btnSubscribe" *ngIf="(isPatient | async)" (click)="onSubscribeToAppointment()" mat-raised-button
            color="primary">Subscribe</button>

</mat-card>
<app-loading *ngIf="load"></app-loading>