<div class="container">
    <h3>Available appointments</h3>
    <mat-card>
        <mat-card-content id="divider">
            <mat-form-field id="mat-form-fieldStrech">
                <mat-label>Start</mat-label>
                <input [(ngModel)]="filter.from" matInput type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true"
                  [enableTime]="true" [minuteIncrement]="5" [time24hr]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                  placeholder="Not set">
              </mat-form-field>
              <mat-form-field id="mat-form-fieldStrech">
                  <mat-label>End</mat-label>
                  <input [(ngModel)]="filter.till" matInput type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true"
                    [enableTime]="true" [minuteIncrement]="5" [time24hr]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                    placeholder="Not set">
                </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
        <button mat-raised-button color="primary" (click)="onSearch()" mat-button>Search</button>
    </mat-card>
<app-appointments-item *ngFor="let appointment of appointmentList" [appointment]="appointment"></app-appointments-item>
<mat-paginator class="container-bottom" fxLayoutAlign="end start" [length]="appointmentsAmount" [pageSize]="pagService.pageSize"
(page)="pageSwitch($event)" [hidePageSize]="true">
</mat-paginator>
</div>