.content-item {
  display: inline-block;
  margin: 10px;
  width: 400px;
  padding: 0;
  word-break: break-all;

  .delete-button {
    position: absolute;
    right: 0px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    margin: 0;
    width: 25px;
    height: 25px;
    border-width: 0;
    min-width: 0;
    padding: 0;
    padding-top: 2px;
    line-height: 0;
  }

  mat-card-header,
  .content-body {
    padding: 16px;
    display: block;
  }

  mat-card-header {
    min-height: 30px;
  }

  .title-with-date {

    .content-title {
      font-size: 2em;
      line-height: 1;
      margin-right: 9px;
      float: left;
    }

    .content_creation-date {
      float: right;
    }
  }

  .clearfix::after{
    clear: both;
    height: 0;
  }

  .types-with-author{

    .types {
      float: left;
      width: 60%;
      font-size: 1em;
      color: grey;
    }

    .content-author {
      float: right;
      width: 40%;
    }
  }

  .carousel {
    width: 100%;
    padding-top: calc(100% / 16 * 9);
    position: relative;
    overflow: hidden;

    .slide-line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      transition: left ease 0.5s;
      font-size: 0px;

      .image-container {
        height: 100%;
        position: relative;
        display: inline-block;

        img {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    .left-button,
    .right-button {
      position: absolute;
      top: 0px;
      bottom: 0px;
      font-size: 10em;
      opacity: 0;
    }

    .right-button {
      right: 0;
    }

    .left-button {
      left: 0;
    }

    .left-button:hover,
    .right-button:hover {
      opacity: 0.5;
    }
  }

  .edition {
    .edition-author {
      display: inline-block;
      width: 60%;
    }

    .editiom-date {
      display: inline-block;
      width: 40%;
    }
  }

  mat-card-content.content-body {
    margin-bottom: 45px;
    max-height: 150px;
    overflow: hidden;
  
    p {
    }
  }  

  .edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
  }
}