.profile {
    min-height: 100%;
    margin-left: 3%;
    margin-right: 10%; 
    font-size: 16;
    .settings-expanded-item {
        margin-top: 5%;
    }
    .profile-menu {
        margin-top: 5%;
        .menu-button {
            width: 150px;
        }
    }
    .profile-top {
            .doctor-photo {
                img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                }
                img:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        
        .doctor-name {
            font-size: 30px;
            line-height: normal;
        }
    }
}
