<div class="profile" fxLayout="row" fxLayoutGap="20%">
  <div class="profile-menu" fxLayout="column" fxLayoutGap="8%" fxLayoutAlign="start">
    <button class="menu-button" (click)="changeSettings(doctorSettings.MyProfile)" [disabled]="currentMenuItem===doctorSettings.MyProfile"
      mat-raised-button>
      My profile
    </button>
    <button (click)="changeSettings(doctorSettings.EditProfile)" [disabled]="currentMenuItem===doctorSettings.EditProfile"
      mat-raised-button>
      Edit profile
    </button>
    <button *ngIf="(isApprovedDoctor | async)" (click)="changeSettings(doctorSettings.PreviousAppointments)" [disabled]="currentMenuItem===doctorSettings.PreviousAppointments"
      mat-raised-button>
      Appointments
    </button>
  </div>
  <div class="settings-expanded-item" fxLayout="row" fxFlex [ngSwitch]="currentMenuItem">
    <div *ngSwitchCase="doctorSettings.MyProfile" class="profile-top" fxLayout="row" fxLayoutAlign="center center"
      fxFlex>
      <div class="example-container" hasBackdrop="true" fxFlex>
        <div class="top-info" fxLayout="row" fxFlex>
          <div class="doctor-photo" fxLayoutAlign="center center" fxFlex>
            <form enctype="multipart/form-data">
              <input style="display: none" type="file" (change)="getAvatar($event.target.files)" name="Image" #Image>
              <img [src]="imageToShow" alt="Avatar" (click)="Image.click()" title="Change your profile photo" (error)="img.src = defaultImage"
                #img>
            </form>
          </div>
          <div class="doctor-general-info" fxLayout="column" fxLayoutGap="20%" fxFlex>
            <div class="doctor-name">
              {{doctor?.firstName}} {{doctor?.secondName}} {{doctor?.thirdName}}
            </div>
            <div fxLayout="column" fxLayoutGap="5%">
              <div>Born on: {{doctor?.birthDate | date: 'mediumDate'}}</div>
              <div>Phone number: {{doctor?.phoneNumber}}</div>
              <div>My specialization: {{doctor?.specialization}}</div>
              <div>My work address: {{doctor?.address}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="doctorSettings.EditProfile" fxFlex>
      <app-update-doctor></app-update-doctor>
    </div>
    <div *ngSwitchCase="doctorSettings.PreviousAppointments" fxFlex>
        <app-doctor-appointments></app-doctor-appointments>
    </div>
  </div>
</div>