.profile {
    min-height: 100%;
    overflow: unset;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16;
    .profile-top {
        margin-top: 5%;
        .example-container {
            background-color: white;
            .top-info {
                min-height: 450px;
                .patient-photo {
                    img {
                        height: 400px;
                        width: 400px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .patient-name {
                    font-size: 30px;
                }
            }
        }
    }
    .mat-card {
        min-width: 60%;
    }
  }
  