<div id="FatherDiv" fxLayoutAlign="center">
  <form id="FatherForm" [formGroup]="form" fxLayout="Column" fxLayoutAlign="center center">
    <mat-card-title>Please, fill all required info</mat-card-title>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Required fields
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content id="divider">
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Complaints</mat-label>
          <textarea required formControlName="Complaints" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Disease Anamnesis</mat-label>
          <textarea required formControlName="DiseaseAnamnesis" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Objective Status</mat-label>
          <textarea required formControlName="ObjectiveStatus" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Diagnose</mat-label>
          <textarea required formControlName="Diagnose" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Treatment Plan</mat-label>
          <textarea required formControlName="TreatmentPlan" matInput></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Optional fields
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content id="divider">
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Life Anamnesis</mat-label>
          <textarea formControlName="LifeAnamnesis" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Local Status</mat-label>
          <textarea formControlName="LocalStatus" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-fieldStrech">
          <mat-label>Survey Plan</mat-label>
          <textarea formControlName="SurveyPlan" matInput></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-expansion-panel>
    <section>
      <button id="CancelButton" type="button" mat-raised-button color="warn" (click)="onCancel()" mat-raised-button>Cancel</button>
      <button id="ConfirmButton" type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Confirm</button>
    </section>
  </form>
  <app-loading *ngIf="load"></app-loading>
</div>