.images-container {
    position: relative;
    width: 100%;

    .image-wrap {
      padding-top: 56.25%;
    }

    .image-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        position: absolute;
        width: 100%;
      }
    }

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20%;
      opacity: 0;
      color: white;
      font-size: 2rem;
      
      &:hover {
        opacity: 0.7;
        background: rgba($color: #696868, $alpha: 0.4);
      }
    }

    .right-button {
      right: 0;
    }

    .left-button {
      left: 0;
    }
  }