<div class="container" fxLayout="row" fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="center">
  <mat-card fxLayout="row" fxLayoutAlign="space-around start">
    <div class="marginTen" fxFlex="10%">
      <img [src]="urlAvatar" class="user-avatar">
    </div>
    <div class="marginTen" fxFlex="40%">
      <mat-card-title class="mat-display-1">{{doctor.secondName}} {{doctor.firstName}} {{doctor.thirdName}}</mat-card-title>
      <mat-card-subtitle class="mat-display-1">{{doctor.specialization}}</mat-card-subtitle>
    </div>
    <div fxHide fxShow.md fxShow.lg class="marginTen" fxFlex="50%">
      <mat-card-content><b>Address:</b> {{doctor.address}}</mat-card-content>
      <mat-card-content><b>Email:</b> {{doctor.email}}</mat-card-content>
    </div>
    <a class="doctor-link" [routerLink]="doctorId" mat-raised-button color="primary">Profile</a>
  </mat-card>
</div>