<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ appointment.userFullName }}
      </mat-panel-title>
      <mat-list-item>
        <div>{{appointment.status}}</div>
      </mat-list-item>
      <mat-list-item>
        <div>{{appointment.startTime | date:'dd.MM HH:mm'}}</div>
      </mat-list-item>
      <mat-list-item>
        <div>{{appointment.endTime | date:'dd.MM HH:mm'}}</div>
      </mat-list-item>
    </mat-expansion-panel-header>
    <div *ngIf="appointment.status == 'Reserved'">
      <button mat-button color="Primary" (click)="onFinish()">Finish Appointment</button>
    </div>
    <div>
      <button mat-button color="Primary" (click)="onWatchInfo()" [disabled]="!appointment.isAllowPatientInfo">Watch Patient Info</button>
    </div>
    <div>
      <div *ngIf="appointment.illnessHistory?.complaints">
        Complaints: {{appointment.illnessHistory.complaints}}
      </div>
      <div *ngIf="appointment.illnessHistory?.diseaseAnamnesis">
        Disease Anamnesis: {{appointment.illnessHistory.diseaseAnamnesis}}
      </div>
      <div *ngIf="appointment.illnessHistory?.lifeAnamnesis">
        Life Anamnesis: {{appointment.illnessHistory.lifeAnamnesis}}
      </div>
      <div *ngIf="appointment.illnessHistory?.objectiveStatus">
        Objective status: {{appointment.illnessHistory.objectiveStatus}}
      </div>
      <div *ngIf="appointment.illnessHistory?.localStatus">
        Local status: {{appointment.illnessHistory.localStatus}}
      </div>
      <div *ngIf="appointment.illnessHistory?.surveyPlan">
        Survey plan: {{appointment.illnessHistory.surveyPlan}}
      </div>
      <div *ngIf="appointment.illnessHistory?.treatmentPlan">
        Treatment plan: {{appointment.illnessHistory.treatmentPlan}}
      </div>
    </div>
  </mat-expansion-panel>
</div>