#container {
  height: 100vmin;
}

#left {
  background-color: #6ed3cf;
}

#right {
  background-color: #9068be;
  background-image: url(./Images/pinkpaper2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LeftInner {
  background-color: #e62739;
  min-width: 100px;
  min-height: 100px;
}

#Zero {
  color: #e62739;
}

h1,
h2,
h3,
h4 {
  color: #e1e8f0;
  font-family: "Roboto", sans-serif;
  margin: -40px;
}

h4 {
  margin: -30px;
  float: right;
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 150px;
}
