<div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ prevApp.userFullName }}
      </mat-panel-title>
      <mat-list-item>
        <div>{{prevApp.status}}</div>
      </mat-list-item>
      <mat-list-item>
        <div>{{prevApp.startTime | date:'dd.MM HH:mm'}}</div>
      </mat-list-item>
      <mat-list-item>
        <div>{{prevApp.endTime | date:'dd.MM HH:mm'}}</div>
      </mat-list-item>
    </mat-expansion-panel-header>
    <div>
      <div *ngIf="prevApp.illnessHistory?.complaints">
        Complaints: {{prevApp.illnessHistory.complaints}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.diseaseAnamnesis">
        Disease Anamnesis: {{prevApp.illnessHistory.diseaseAnamnesis}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.lifeAnamnesis">
        Life Anamnesis: {{prevApp.illnessHistory.lifeAnamnesis}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.objectiveStatus">
        Objective status: {{prevApp.illnessHistory.objectiveStatus}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.localStatus">
        Local status: {{prevApp.illnessHistory.localStatus}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.surveyPlan">
        Survey plan: {{prevApp.illnessHistory.surveyPlan}}
      </div>
      <div *ngIf="prevApp.illnessHistory?.treatmentPlan">
        Treatment plan: {{prevApp.illnessHistory.treatmentPlan}}
      </div>
    </div>
  </mat-expansion-panel>
</div>