.content-preview {  
  padding: 0;
  margin: 10px;

  mat-card-header {
    padding: 16px;
    padding-bottom: 0;
    display: block;
    @media (max-width: 599px) {
      margin: 0;
    }

    .title {
      display: block;
      font-size: 2em;
      line-height: normal;
      text-align: left;
    }

    .content-date {
      float: left;
      color: red;
      margin-right: 5px;
    }

    .types {
      color: grey;
    }

    p {
      -webkit-margin-after: 0;
              margin-block-end: 0;
      text-align: right;
    }
  }

  mat-card-content p {
    padding: 16px;
    text-align: justify;
    overflow: hidden;
  }

  .content-author-container {
    text-align: left;
    padding-left: 16px;
    display: inline-block;
    width: calc(100% - 176px);

    .content-author {
      color: mediumblue;
      padding: 16px;
    }
  }

  .button-container {
    text-align: right;

    button {
      width: 150px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}