/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/theming";

snack-bar-container.error {
  background-color: #e05744;
  color: #fff;
}

snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}

@font-face {
  font-family: "Fontil Sans";
  src: url("./app/Components/adminpanel/assets/fonts/FontinSans/Fontin_Sans_R.otf")
    format("opentype");
}

$custom-typography: mat-typography-config(
  $font-family: "Fontil Sans, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

html,
body {
  font-family: "Fontil Sans";
}

.main-container {
  position: absolute;
  top: 56px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .main-container {
    left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .push-right {
    #sidebar {
      left: 0 !important;
    }
  }
}

.custom-dialog-container {
  height: 85vh;
  width: 100%;

  mat-dialog-container {
    padding: 0;
  }
}

.subscribed-user {  
  color: rgb(9, 181, 211);
  font-weight: bold;
  margin-right: 7px;
  margin-left: 3px;
  font-size: 17px;
}

.icon-calendar {
  color: rgb(235, 166, 88);
  text-decoration: none;
}

.icon-calendar:hover {
  color: rgb(243, 61, 6);
}

.cal-week-view .cal-time-events .cal-event {
  width: auto;
}

.cal-event-title:hover {
  color: rgb(9, 181, 211);
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

 /* mat-confirm-dialog (customised dialog) */
 .confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
.confirm-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
height: 50px;
width: 50%;
background-color: #fc7169;
color:white;
border-radius: 0px;
}

.confirm-dialog-container #yes-button{
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color:white;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span{
  padding:  35px 16px;
  text-align: center;
  font-size: 20px;
}