<div class="container" fxLayout="column" fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="center">
    <mat-form-field fxFlex="40%" class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field fxFlex="40%">
      <div *ngfor="let status of statuses">
          <label>
            <input type="checkbox" name="statuses" value="{{status.value}}" [(ngModel)]="status.checked" (change)="selected($event)"> {{status.name}}
          </label>
      </div>
    </mat-form-field>
    <button fxFlex="20%" mat-raised-button color="primary" (click)="onSearch()">Search</button>
  </div>