<div class="moder-create-container">
  <mat-card class="mat-elevation-z10">
    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="rate-limit-reached" *ngIf="isRateLimitReached">
        InternetHospital's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="*Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="*First name">
          <mat-error>Invalid first name.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="secondName" matInput placeholder="*Second name">
          <mat-error>Invalid second name.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input formControlName="thirdName" matInput placeholder="*Third name">
          <mat-error>Invalid third name.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="*Password">
          <mat-error *ngIf="form.controls.password.errors?.required">This field is mandatory!</mat-error>
          <mat-error *ngIf="form.controls.password.errors?.pattern">Invalid password!</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="password" formControlName="confirmPassword" matInput placeholder="*Confirm Password">
          <mat-error>Passwords don't match.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        <button mat-raised-button color="warn" type="reset">Clear</button>
      </div>
    </form>
    <a mat-raised-button class="return-button" [routerLink]="moderatorsManagePath">Return</a>
  </mat-card>
</div>