.side-block {
    display: inline-block;
    height: 100%;
    width: 15%;
}

.main-block {
    display: inline-block;
    width: 70%;
    height: 100%;
}

.news-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.news-item {

    display: flex;
    width: 50%;

    @media screen and (max-width: 960px) {
        width: 100%;
    }

    @media screen and (min-width: 1900px) {
        width: 33%
    }
}