<div class="side-block"></div>
<div class="main-block">
    <app-greeting-item *ngIf="!(isLoggedIn | async)"></app-greeting-item>
    <!-- <app-home-news-item *ngFor="let content of contents" [content]="content"></app-home-news-item> -->
    <div class="news-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="loadContent()">

        <!-- <app-home-news-item-ver2 class="news-item" *ngFor="let content of contents" [content]="content"></app-home-news-item-ver2> -->
        <!-- <app-home-news-item-ver2 class="news-item" *ngFor="let content of contents" [content]="content"></app-home-news-item-ver2> -->

        <app-home-news-item-ver3 class="news-item" *ngFor="let content of contents" [content]="content"></app-home-news-item-ver3>
        <!-- <app-home-news-item-ver3 class="news-item" *ngFor="let content of contents" [content]="content"></app-home-news-item-ver3> -->
    </div>
    <div class="loading-spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>


</div>
<div class="side-block"></div>