.main-block {
  display: block;
  width: 100%;
  height: 100%;
}

.news-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.news-item {
  display: flex;
  width: 33.3%;
  align-items: stretch;

  @media screen and (max-width: 1200px) {
    width: 50%;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  @media screen and (min-width: 1900px) {
    width: 25%;
  }
}

.loading-spinner {
  text-align: center;
  margin: 10%;

  mat-spinner {
    margin: auto;
  }
}

.server-error {
  position: absolute;
  width: 100%;
  height: calc(100% - 114px);
  background-color: #8d83834b;
  text-align: center;

  p {
    font-size: 2.5vw;
    color: darkred;
    line-height: 1;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
