<mat-card class="mat-elevation-z10 content-item">
  <mat-card-header>
    <div class="title">
      {{content.title}}
    </div>
    <p>
      <span class="content-date">{{content.creationDate | date}}</span>
      <strong class="types">{{content.types.join(', ')}} </strong>
    </p>
  </mat-card-header>

  <app-slider [images]="imageUrls"></app-slider>

  <mat-card-content>
    <p>
      {{content.shortDescription}}
    </p>
  </mat-card-content>
  <div class="button-container">
    <div class="content-author-container">Author: <span class="content-author">{{content.author}}</span></div>
    <button mat-raised-button color="primary">READ FULL</button>
  </div>
</mat-card>